.idea
/idea
.gitignore
node_modules
.marvel2
/chapter_6_midle_React/marvel2/public/favicon.ico
/chapter_6_midle_React/marvel2/public/index.html
/chapter_6_midle_React/marvel2/src/components/app/App.js
/chapter_6_midle_React/marvel2/src/components/appBanner/AppBanner.js
/chapter_6_midle_React/marvel2/src/components/appBanner/appBanner.scss
/chapter_6_midle_React/marvel2/src/components/appHeader/AppHeader.js
/chapter_6_midle_React/marvel2/src/components/appHeader/appHeader.scss
/chapter_6_midle_React/marvel2/src/components/charInfo/CharInfo.js
/chapter_6_midle_React/marvel2/src/components/charInfo/charInfo.scss
/chapter_6_midle_React/marvel2/src/components/charList/CharList.js
/chapter_6_midle_React/marvel2/src/components/charList/charList.scss
/chapter_6_midle_React/marvel2/src/components/comicsList/ComicsList.js
/chapter_6_midle_React/marvel2/src/components/comicsList/comicsList.scss
/chapter_6_midle_React/marvel2/src/components/randomChar/RandomChar.js
/chapter_6_midle_React/marvel2/src/components/randomChar/randomChar.scss
/chapter_6_midle_React/marvel2/src/components/singleComic/SingleComic.js
/chapter_6_midle_React/marvel2/src/components/singleComic/singleComic.scss
/chapter_6_midle_React/marvel2/src/components/skeleton/Skeleton.js
/chapter_6_midle_React/marvel2/src/components/skeleton/skeleton.scss
/chapter_6_midle_React/marvel2/src/resources/img/abyss.jpg
/chapter_6_midle_React/marvel2/src/resources/img/Avengers.png
/chapter_6_midle_React/marvel2/src/resources/img/Avengers_logo.png
/chapter_6_midle_React/marvel2/src/resources/img/mjolnir.png
/chapter_6_midle_React/marvel2/src/resources/img/thor.jpeg
/chapter_6_midle_React/marvel2/src/resources/img/UW.png
/chapter_6_midle_React/marvel2/src/resources/img/vision.png
/chapter_6_midle_React/marvel2/src/resources/img/x-men.png
/chapter_6_midle_React/marvel2/src/style/button.scss
/chapter_6_midle_React/marvel2/src/style/style.scss
/chapter_6_midle_React/marvel2/src/style/variables.scss
/chapter_6_midle_React/marvel2/src/index.js
/chapter_6_midle_React/marvel2/package.json
/chapter_6_midle_React/marvel2/package-lock.json
/chapter_6_midle_React/marvel2/README.md
